<div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/"><img src="/images/logo.png" id="logo" style="width: 40px; margin-top: -4px;" /> <span style="display: inline-block!important">kenhowardpdx.com</span></a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li><a href="https://github.com/kenhowardpdx">GitHub</a></li>
                <li><a href="https://twitter.com/kenhowardpdx">Twitter</a></li>
            </ul>
        </section>
    </nav>
</div>
