.resume {
	font-family: Helvetica, Arial, sans-serif;

	.top-bar {
		display: none;
	}

	#main {
		padding-top: .5em;
		padding-bottom: 1em;
	}

	h1 {
		font-size: 2em;
	}
	h2 {
		margin-bottom: .5em;
		margin-top: 1.5em;
		color: #fff;
		background-color: $fontColor;
		padding: .2em .4em;
	}

	#main h2:first-child {
		margin-top: 0;
	}

	p {
		margin-left: .7em;
	}

	h1 + p {
		margin-left: 0;
	}

	li, p {
		line-height: 1.7em;
	}

	&>footer {
		display: none;
	}

	@media print {
		.print { display: none; }
		font-size: .8em;
		p.post-summary {
			font-size: 1.0em;
			line-height: 1.3em;
		}
		h2 {
			font-size: 1.4em;
			padding: 0;
			margin: 0;
		}
		p {
			margin-left: 0;
		}
	}

}