$borderColor: #1f2805;
$fontColor: rgba(31,40,5,1);
$highlightColor: #90bb13;
$altHighlightColor: #1352bb;
$altHighlightColorRGBA: rgba(149,167,196,0.5);
$backgroundColor: #f5f8ea;
$altBackgroundColor: #f4ffd4;
$footerBackgroundColor: rgba(58,68,58,1);