$brandColor: #3581c1;
$brandDarkColor: #204f75;
$brandAltColor: #87b300;
$defaultColor: #333;
$backgroundColor: #fefefe;

$linkColor: $brandColor;
$linkHoverColor: #87b300;


/* need to set these later */
$fontColor: $defaultColor;
$borderColor: $defaultColor;
$shadowColor: $defaultColor;
$lightBackground: $defaultColor;
$highlightColor: $defaultColor;
$altHighlightColorRGBA: $defaultColor;
$altHighlightColor: $defaultColor;