<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
{% if page.replacetitle %}
  <title> {% if page.title %} {{ page.title }} {% endif %}</title>
{% else %}
  <title> {% if page.title %} {{ page.title }} | {% endif %} Ken Howard | Web Designer</title>
{% endif %}
  <meta name="description" content="{% if page.summary %}{{page.summary}}{% else %}A blog about web design and front-end web development from the trenches.{% endif %}" />
  <meta name="viewport" content="width=device-width" />
{% if page.noindex %}
  <meta name="robots" content="noindex, follow" />
{% endif %}
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="author" href="https://plus.google.com/101593064197379464085/" />
  <script src="/js/modernizr.js"></script>

{% capture header %}

{% if page.title %}
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
{% else %}
  <meta property="og:type" content="website" />
{% endif %}

{% if page.url %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% endif %}

{% if page.date %}
  <meta property="article:published_time" content="{{page.date | date_to_xmlschema}}" />
{% endif %}

{% if site.owner_link %}
  <meta property="article:author" content="{{ site.owner_link }}" />
{% endif %}

{% if page.image %}
  <meta property="og:image" content="{{ page.image }}" />
{% else %}
  <meta property="og:image" content="{{ site.image }}" />
{% endif %}

<meta property="og:description" content="{% if page.summary %}{{page.summary}}{% else %}A blog about web design and front-end web development from the trenches.{% endif %}" />

{% endcapture %}{{ header | strip_newlines }}

<link rel="alternate" type="application/rss+xml" title="RSS Feed for kenhowardpdx.com" href="/rss.xml" />

</head>
<body{% if page.pageclass %} class="{{ page.pageclass }}"{% endif %}>

  <div class="group columns nopadding">
  <header class="col-1-4 side" role="banner">
      <div class="group branding">
        <a class="logo" href="/"><img src="/images/logo.png" alt=""/></a>
        <h1>Ken Howard</h1>
        <p>Designer, Front-End Developer, Husband &amp; Father.</p>
      </div>
      <div>
        <p><a href="/contact">Have a project? Hire me.</a></p>
      </div>
      <nav class="group">
        <ul>
          <li class="nav_profile"><a href="/profile">Profile</a></li>
          <li class="nav_projects"><a href="/projects">Projects</a></li>
          <li class="nav_blog"><a href="/blog">Blog</a></li>
          <li class="nav_contact"><a href="/contact">Contact</a></li>
        </ul>
      </nav>
  </header>
  <div id="main" class="col-3-4 main">

    {{ content }}

  </div>
  </div>

{% if page.nojquery %}{% else %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
<script src="/js/prism.js"> </script>

<script src="/js/scripts.js"></script>
<script>
// using jQuery
$('.fitvids').fitVids();
</script>
{% endif %}

</body>
</html>
